<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control form-control-sm" id="nome" formControlName="nome" placeholder="Digite seu nome" [ngClass]="{'is-invalid': form.get('nome')?.invalid && form.get('nome')?.touched}" />
    <div class="invalid-feedback" *ngIf="form.get('nome')?.errors && form.get('nome')?.touched">
      <ng-container *ngIf="form.get('nome')?.errors?.['serverError']">{{ form.get('nome')?.errors?.['serverError'] }}</ng-container>
      <ng-container *ngIf="!form.get('nome')?.errors?.['serverError']">
        <ng-container *ngIf="form.get('nome')?.errors?.['required']">Nome é obrigatório.</ng-container>
        <ng-container *ngIf="form.get('nome')?.errors?.['minlength']">Nome deve ter pelo menos 2 caracteres.</ng-container>
        <ng-container *ngIf="form.get('nome')?.errors?.['maxlength']">Nome deve ter no máximo 100 caracteres.</ng-container>
        <ng-container *ngIf="form.get('nome')?.errors?.['pattern']">Nome pode conter apenas letras, números, espaços, pontos, hífens e apostrofes.</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control form-control-sm" id="email" formControlName="email" placeholder="Digite seu email" [ngClass]="{'is-invalid': form.get('email')?.invalid && form.get('email')?.touched}" />
    <div class="invalid-feedback" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <ng-container *ngIf="form.get('email')?.errors?.['serverError']">{{ form.get('email')?.errors?.['serverError'] }}</ng-container>
      <ng-container *ngIf="!form.get('email')?.errors?.['serverError']">
        Email válido é obrigatório.
      </ng-container>
    </div>
  </div>
  <div class="mb-3">
    <label for="cpfCnpj" class="form-label">{{ labelCpfCnpj }}</label>
    <input 
      type="text" 
      class="form-control form-control-sm" 
      id="cpfCnpj" 
      formControlName="cpfCnpj" 
      [placeholder]="placeholderCpfCnpj"
      maxlength="18" 
      [ngClass]="{'is-invalid': form.get('cpfCnpj')?.invalid && form.get('cpfCnpj')?.touched}" 
      (input)="aplicarMascaraCpfCnpj($event)"
    />
    
    <div class="invalid-feedback" *ngIf="form.get('cpfCnpj')?.invalid && form.get('cpfCnpj')?.touched">  
      <ng-container *ngIf="form.get('cpfCnpj')?.errors?.['serverError']">{{ form.get('cpfCnpj')?.errors?.['serverError'] }}</ng-container>
      <ng-container *ngIf="!form.get('cpfCnpj')?.errors?.['serverError']">
        <ng-container *ngIf="form.get('cpfCnpj')?.errors?.['required']">CPF ou CNPJ é obrigatório.</ng-container>
        <ng-container *ngIf="form.get('cpfCnpj')?.errors?.['cpfInvalido']">CPF inválido.</ng-container>
        <ng-container *ngIf="form.get('cpfCnpj')?.errors?.['cnpjInvalido']">CNPJ inválido.</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="mb-3">
    <label for="telefone" class="form-label">Telefone</label>
    <input 
      type="text" 
      class="form-control form-control-sm" 
      id="telefone" 
      formControlName="telefone" 
      placeholder="Digite seu telefone" 
      [ngClass]="{'is-invalid': form.get('telefone')?.invalid && form.get('telefone')?.touched}" 
      (input)="aplicarMascaraTelefone($event)" 
      maxlength="15"
    />
    <div class="invalid-feedback" *ngIf="form.get('telefone')?.invalid && form.get('telefone')?.touched">
      <ng-container *ngIf="form.get('telefone')?.errors?.['serverError']">{{ form.get('telefone')?.errors?.['serverError'] }}</ng-container>
      <ng-container *ngIf="!form.get('telefone')?.errors?.['serverError']">
        Telefone é obrigatório.
      </ng-container>
    </div>
  </div>
  <button type="submit" class="step-button">
    <i class="fas fa-arrow-right me-2"></i>
    Próximo
  </button>
</form> 